<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceSynchroCheckers" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.176.128.212:8080/ServiceSynchroCheckers/ServiceSynchroCheckers.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSynchroCheckers"
                contract="ServiceSynchroCheckers.IServiceSynchroCheckers"
                name="BasicHttpBinding_IServiceSynchroCheckers" />
        </client>
    </system.serviceModel>
</configuration>